@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-color: #9AB0D3;
    --secondary-color: #9DB5B2;
    --accent1-color: #D3D5D4;
    --accent2-color: #8763B1;

    --headings-font: Poppins, serif;
    --paragraph-font: Poppins, serif;

    --nav-background-color: #d3d5d4;
    --nav-link-color: #AA4465;
    --nav-hover-link-color: #23C9FF;
    --nav-hover-background-color: #7CC6FE;
}

body {
    font-family: var(--Poppins, serif);
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Poppins, serif);
    color: #9AB0D3;

}

header {
    padding: 20px;
    background-color: #D3D5D4;
}

p {
    padding: 25px;
}

nav {
    background-color: #D3D5D4;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: #AA4465;
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a {
    color: #AA4465;
}

nav a:hover {
    color: #7CC6FE;
    background-color: #E7BBE3;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}