@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 650px;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #b23b3b;
    display: grid; */
}

body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.2em;
    color: #56091e;
    background-color: #f0c4cd;
    width: 650px;
    /* border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem; */
    /* background-color: #b23b3b; */
    /* display: grid; */
}

header {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #c73062;
}

form {
    width: 650px;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #b23b3b;
    display: grid;
}

fieldset {
    display: grid;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    grid-gap: .5rem;
}

legend {
    padding: 0.5rem;
    color: #56091e;
    font-size: 1.5rem;
}

label,
select,
button,
textarea,
input {
    font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input{
    padding-block: 1.5px;
    padding-inline: 40px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: .75rem;
    border-radius: .5rem;
    border: none;
    color: #56091e;
    font-size: 1.2rem;
    background-color: #c73062;
}

button:hover {
    background-color: #af7286;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #c73062;
    border-top: 1px solid #56091e;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    justify-content: center;
    /* grid-template-columns: 3fr 1fr; */
    margin: .5rem 0;
}

.column2 {
    justify-content: center;
    /* grid-template-columns: 1fr 2fr; */
}